.dashboard .panel-footer {
	color: #928d8d;
}

.firm-list {
    padding: 30px;
}

.firm-list h2{
    margin-top: 0;
    margin-bottom: 30px;
}

#user_list_wrapper div:nth-of-type(1n), #firm_list_wrapper div:nth-of-type(1n){
	padding-top: 5px;
}

.blade-form span.fileinput-new {
    white-space: nowrap;
	cursor: pointer;	
}

.blade-form .btn {
	border-right: 1px solid rgb(229, 230, 231);
	border-bottom: 1px solid rgb(229, 230, 231);
	border-top: 1px solid rgb(229, 230, 231);
	cursor: pointer;	
}