.btn-right {
  margin-right: 10px;
}

.billing-table1 #DataTables_Table_0_filter,
.billing-table1 .html5buttons,
.billing-table2 #DataTables_Table_0_filter,
.billing-table2 .buttons-copy,
.billing-table2 .buttons-excel,
.billing-table2 .buttons-pdf,
.billing-table2 .buttons-print,
.billing-table3 #DataTables_Table_0_filter,
.billing-table3 .buttons-copy,
.billing-table3 .buttons-csv,
.billing-table3 .buttons-pdf,
.billing-table3 .buttons-print,
.billing-table4 .buttons-copy,
.billing-table4 .buttons-csv,
.billing-table4 .buttons-pdf,
.billing-table4 .buttons-print,
.billing-table5 #DataTables_Table_0_filter,
.billing-table5 .html5buttons {
  display: none;
}

.billing-table2 .buttons-csv span::before,
.billing-table3 .buttons-excel span::before,
.billing-table4 .buttons-excel span::before {
  content: 'Export to ';
}

.billing-table4 #DataTables_Table_0_filter {
  float: left;
}

.mar-bot20 {
  margin-bottom: 20px;
}

.select-client {
  min-width: 200px;
}

.total-case {
  margin-top: 10px;
  margin-bottom: 20px;
}

.total-case p {
  font-weight: bold;
  font-size: 1.1em;
}

.total-case span {
  font-weight: normal;
}

.select-firm-form {
  margin-bottom: 15px;
}

.attach a{
  color: #000;
  text-decoration: underline;
}

.attach {
  margin-top: 8px;
}